<div id="container">
	<%if(user.user_type == 'admin') { %>
	<button type="button" class="chatList" id="openChat" onclick="toggleChat()">
		채팅 목록
	</button>
	<div id="chatBox">
		<div id="chatHead">
			<h3>채팅목록</h3>
			<button type="button" onclick="toggleChat()">닫기</button>
		</div>
		<div id="adminChatView">
			<%if (room != null) { %>
				<% for (const roomList of room) { %>
				<div class="chatListBox">
					<a style="font-size: 12px;" onclick="openAdminChat('<%-roomList.user_key%>', '<%-roomList.room_key%>')"><%- roomList.user_key %></a>
					<div class="adminMsgLine" id="adminChat<%-roomList.room_key%>">
					</div>
					<div id="adminInput<%-roomList.room_key%>">

					</div>
				</div>
				<% } %> 
			<% } %>
		</div>
	</div>
	<% } else {%>
	<button type="button" id="openChat" onclick="toggleChat()">
		문의하기
	</button>
	<div id="chatBox">
		<div id="chatHead">
			<h3>채팅창</h3>
			<button type="button" onclick="toggleChat()">&#10005;</button>
		</div>
		<div id="guestChatView">
			<div class="msgLine">
				<div class="me">
					<%if (Object.keys(chat).length != 0) { %>
						<% for (const chatList of chat) { %>
							<% if (chatList.chat_person == user.user_email) { %>
							<div class="meChat">
								<p class="leftChat"><%-chatList.message %></p>
								<p class="leftDate"><%-chatList.createdAt %></p>
							</div>
							<% } else { %>
							<div class="adminChat">
								<p class="rightChat"><%-chatList.message %></p>
								<p class="rightDate"><%-chatList.createdAt %></p>
							</div>	
							<% } %>
						<% } %> 
					<% } %>
				</div>
			</div>
		</div>
		<input type="text" id="msg" class="guestMsgInput">
	</div>
	<% } %>
	
</div>