<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap"
        rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- icon -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.1/css/line.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../css/todaypick.css" type="text/css">
    <link rel="stylesheet" href="../css/home.css" type="text/css">
    <link rel="stylesheet" href="../css/header.css" type="text/css">
    <link rel="stylesheet" href="../css/sidebar.css" type="text/css">
</head>

<body>
    <%-include('component/header.ejs')%>
    <section class="home" i="home">
        <div class="home-text">
            <h1>귀염뽀짝 <br><span>신상잔치</span></h1>
        </div>

        <%-include('component/todaypick.ejs')%>
    </section>

    <section class="featured" id="featured">
        <div class="center-text">
            <h2>전체 상품</h2>
        </div>
        <div id="bestProduct" class="featured-content2">

        </div>
        <div id="targetBox" style="display:none"></div>
    </section>
    <%-include('component/sidebar.ejs')%>

    <script>
        let socket = io.connect('ws://localhost/:3001')
        socket.on('message', (data) =>{
            "<%if(user) {%>" 
            if(data.chat_person != 'admin@admin.com') { 
            let msgLine = $("#adminChat"+data.room_key);
            let line = `<p class="rightChat">` + data.message + `</p>
                        <p class="rightDate">` + formatDate(new Date(data.createdAt)) + `</p>`;
            msgLine.append(line);
            } else {
            let me = $(".me")
            let line2 = `<div class="adminChat">
                        <p class="rightChat">` + data.message + `</p>
                        <p class="rightDate">` + formatDate(new Date(data.createdAt)) + `</p>`
            me.append(line2);
            }
            "<% } %>"
        })
        $('#msg').keyup(function(event){
            if(event.which == 13){
                "<%if(user) {%>" 
                socket.emit('chat_message', {user_key: "<%-(user.user_email)%>", message: $('#msg').val(),room_key: ''});
				let msgBox = $('.me');

                let msg = '<p class="leftChat">' + $('#msg').val() + '</p>';
                let today = new Date();
				msgBox.append(msg);
                msgBox.append('<p class="leftDate">' + formatDate(today) + '<p>');
                $('#msg').val('');
                "<% } %>"
            }	
        })
        $(document).on('keyup', '#adminMsg', function(e){
            if(e.which == 13){
                let adminClass = $(this).attr('class')
                "<%if(user) {%>" 
                socket.emit('chat_message', {user_key: "<%-(user.user_email)%>", message: $('#adminMsg').val(), 
                                                    room_key: adminClass});
                let msgLine = $('#adminChat' + adminClass);

                let msg = '<p class="leftChat">' + $('#adminMsg').val() + '</p>';
                let today = new Date();
                msgLine.append(msg);
                msgLine.append('<p class="leftDate">' + formatDate(today) + '<p>');
                $('#adminMsg').val('');
                "<% } %>"
            }	
        })
        let toggle = 0;
        function toggleChat(){
            if(toggle === 0){
                $('#openChat').css('display', 'none');
                $('#chatBox').css('display', 'inline-block');
                "<%if(user) {%>" 
                "<%if(user.user_type != 'admin') { %>" 
                socket.emit('join_room', (param = {user_key: "<%-(user.user_email)%>"}))  
                "<% } %>"
                "<% } %>"
                toggle = 1;
            } else{
                $('#openChat').css('display', 'inline-block');
                $('#chatBox').css('display', 'none');
                toggle = 0;
            }
        }
        let adminToggle = 0;
        function openAdminChat(email, room_key){
            socket.emit('join_room', (param = {user_key: email}))  
            if(adminToggle == 1){
                $('#adminChat'+ room_key).css('height','auto')
                $(".adminMsgLine").html('')
                $('#adminMsg').remove();
                adminToggle = 0;
                return;
            }
            $.ajax({
                type : "POST",
                url : "/admin/chat",
                data : {'email_give': email},
                success : function (response){
                    if(response['message']){
                        let chatList = response['message']
                        if(chatList[0]?.chat_person){
                            let msgLine = $("#adminChat"+chatList[0].room_key);

                            for(let i=0; i<chatList.length; i++){
                                let line, lin2 = '';
                                if(chatList[i].chat_person == 'admin@admin.com'){
                                    line = '<p class="rightChat">' + chatList[i].message + '</p>';
                                    line2 = '<p class="rightDate">' + chatList[i].createdAt + '</p>';
                                } else{
                                    line = '<p class="leftChat"">' + chatList[i].message + '</p>';
                                    line2 = '<p class="leftDate">' + chatList[i].createdAt + '</p>'
                                };
                                msgLine.append(line + line2);
                            }
                        }
                        let adminChat = $('#adminChat'+ chatList[0].room_key)
                        adminChat.css('height','auto')
                        if(chatList.length > 6){
                            adminChat.css('height','300px')
                        }
                        adminChat.scrollTop(adminChat[0].scrollHeight)
                        $('#adminChatView').css('width', 'fit-content')
                        $('#adminInput'+chatList[0].room_key).append(`<input type="text" id="adminMsg" class="${chatList[0].room_key}">`)
                        adminToggle = 1;
                    }
                }
            })
        }
        function formatDate(today){
            let year = today.getFullYear();
            let month = ('0' + (today.getMonth() + 1)).slice(-2);
            let day = ('0' + today.getDate()).slice(-2);

            let hours = ('0' + today.getHours()).slice(-2); 
            let minutes = ('0' + today.getMinutes()).slice(-2);
            let seconds = ('0' + today.getSeconds()).slice(-2); 

            let dateString = year + '-' + month  + '-' + day + ' ' + hours + ':' + minutes  + ':' + seconds;
            return dateString;
        }
    </script>
    <script defer type="text/javascript" src="../js/home.js"></script>
    <script src="../js/todaypick.js" type="text/javascript"></script>
    <script src="../js/sidebar.js" type="text/javascript"></script>
</body>
</html>