<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap"
        rel="stylesheet" />
    <!-- icon -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.1/css/line.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/header.css" type="text/css">
    <link rel="stylesheet" href="../css/chatroom.css" type="text/css">
    <link rel="stylesheet" href="../css/sidebar.css" type="text/css">
    <link rel="stylesheet" href="../css/my_page.css" type="text/css">
    <link href="../css/modal.css" rel="stylesheet" type="text/css">

</head>

<body>
    <%-include('component/header.ejs')%>
        <section class="page-header">
            <h1>마이페이지</h1>
        </section>

        <section class="userTable">

            <div class="tableContainer">

                <table class="tableHeader">

                    <thead>
                        <tr>
                            <th>이름</th>
                            <th>이메일</th>
                            <th>전화번호</th>
                            <th>주소</th>
                            <th>보유포인트</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= info.user_name %></td>
                            <td><%= info.user_email %></td>
                            <td><%= info.user_phone %></td>
                            <td><%= info.user_address %></td>
                            <td><%= info.user_point %></td>
                        </tr>
                    </tbody>
                </table>
                <div id="my_modal">
                    <p>현재 비밀번호: <input type="text" id="cur_password"></p>
                    <p>변경할 비밀번호: <input type="text" id="next_password"></p>
                    <p>변경할 주소: <input type="text" id="address"></p>
                    <p>변경할 전화번호: <input type="text" id="phone"></p>
                    <button class="modal_button" type="button" onclick="edit_btn()">수정</button>
                    <a class="modal_close_btn">X</a>
                </div>
                <div class="patch_btn">
                    <button type="button" id="popup_open_btn">회원정보 수정</button>
                </div>
        </section>
        <section class="userTable">
            <table class="tableHeader">
                <thead>
                    <tr>
                        <th>주문번호</th>
                        <th>상품명</th>
                        <th>수량</th>
                        <th>가격</th>
                        <th>진행상태</th>
                    </tr>
                </thead>
                <% for (const list of purchaseList) {%>
                <tbody>
                    <tr>
                        <td><%= list.order_idx %></td>
                        <td>
                            <a href='/product_detail?id=<%= list.product_idx%>'><%= list.productName %></a>
                        </td>
                        <td><%= list.order_count %></td> 
                        <td><%= list.order_count * list.price %></td>     
                        <td><%= list.order_status %></td>                 
                    </tr>
                </tbody>
                <%}%>
            </table>
            </div>
        </section>
        <%-include('component/modal.ejs')%>
</body>
<script type="text/javascript" src="../js/modal.js"></script>
<script type="text/javascript" src="../js/my_page.js"></script>
<script src="../js/sticky-bar.js" type="text/javascript"></script>
<script src="../js/sidebar.js" type="text/javascript"></script>

</html>